<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.torch.server.mapper.ActivityChildMapper">
<!--获取所有的子志愿活动-->
    <select id="selectChild" resultType="ActivityChild">
        select *from activity_child where activity_id = #{activityId};
    </select>
</mapper>